@inherits LayoutComponentBase
<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <div class="top-row px-4">
                    <LoginLogoutComponent></LoginLogoutComponent>
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </Authorized>

    <NotAuthorized>
        <GestionDeReservasFIT.Client.Pages.LoginComponent></GestionDeReservasFIT.Client.Pages.LoginComponent>
    </NotAuthorized>

</AuthorizeView>
